 .u-section-1 {
  background-image: linear-gradient(to right, #b47aec, #1dd3e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 773px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 193px auto 0;
}

.u-section-1 .u-group-1 {
  width: 594px;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 465px;
  height: 465px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 246px;
  height: 294px;
  margin: -626px auto 0 -199px;
}

.u-section-1 .u-image-2 {
  width: 252px;
  height: 252px;
  margin: 547px auto -305px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 166px auto 60px;
  padding: 19px 64px;
}

.u-section-1 .u-image-3 {
  object-position: 0% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 98px;
  height: 97px;
  margin: -1104px -98px 60px auto;
}

.u-section-1 .u-shape-2 {
  background-image: linear-gradient(#d3b1f4, #5ce0ed);
}

.u-section-1 .u-image-4 {
  width: 333px;
  height: 200px;
  margin: -257px auto 60px 0;
}

.u-section-1 .u-group-2 {
  width: 195px;
  min-height: 179px;
  margin: -55px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-image-5 {
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 246px;
  height: 294px;
  margin: 119px -266px 0 auto;
}

.u-section-1 .u-image-6 {
  object-position: 0% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 98px;
  height: 97px;
  margin: 108px auto 60px -99px;
}

.u-section-1 .u-group-3 {
  width: 195px;
  min-height: 179px;
  margin: -55px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-group-4 {
  width: 195px;
  min-height: 179px;
  margin: -55px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -583px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 212px;
    margin-top: 17px;
    margin-bottom: -66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 212px;
    margin-top: 17px;
    margin-bottom: -66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 212px;
    margin-top: 17px;
    margin-bottom: -66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 565px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    transition-duration: 1.5s;
  }

  .u-section-1 .u-image-1 {
    margin-top: -583px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 472px;
    margin-bottom: -230px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 307px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    width: 118px;
    height: 117px;
    margin-top: -687px;
    margin-right: -118px;
    margin-bottom: 0;
  }

  .u-section-1 .u-shape-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 169px;
    height: 169px;
    margin: -250px auto 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -215px;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 48px;
    margin-top: 116px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-weight: 600;
    width: auto;
    margin-right: 20px;
    margin-left: -20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 132px;
  }

  .u-section-1 .u-image-6 {
    width: 119px;
    height: 118px;
    margin-top: 55px;
    margin-bottom: 0;
    margin-left: -109px;
  }

  .u-section-1 .u-group-3 {
    min-height: 0;
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-weight: 600;
    width: auto;
    margin-top: -597px;
  }

  .u-section-1 .u-group-4 {
    min-height: 48px;
    margin-top: 48px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-weight: 600;
    width: auto;
    margin-top: -575px;
  }
}

.u-section-1 .u-shape-1,
.u-section-1 .u-shape-1:before,
.u-section-1 .u-shape-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-shape-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-shape-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}